<div class='intro'>
	<h1 class='intro__hed'>{{doc.hed}}</h1>
	<p class='intro__dek'>{{doc.dek}}</p>
	<div class='byGroup'>
		<p class='intro__byline'>Created By
			<a href='{{doc.bylineLink}}' target='_blank'>
				<strong>{{doc.byline}}</strong>
			</a>
		</p>
		<img inline src="music.svg">
		<time class='intro__time'>{{doc.pubDate}}</time>
	</div>

	{{#each doc.introPost}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	{{#each doc.introPlaylist}}
		{{> story/playlist }}
	{{/each}}

	<p class='prose'>{{{doc.postPlaylist}}}</p>

	<span class='disclaimer-title'>{{{doc.disclaimer}}}</span>
	<p class='disclaimer-body'>{{{doc.disclaimerBody}}}</p>
</div>
