<div class='intro' id='intro'>
	<div class='intro__top'>
		<div class='intro__album'>
			<div class='intro__album-cover'>
				<img inline src='pudding/logo.svg'>
			</div>
		</div>
		<div class='intro__meta'>
			<p class='intro__sub'>{{doc.sub}}</p>
			<h1 class='intro__hed'>{{doc.hed}}</h1>
			<p class='intro__dek'>{{doc.dek}}</p>
			<div class='byGroup'>
				<p class='intro__byline'>Created By
					<a href='{{doc.bylineLink}}' target='_blank'>
						<strong>{{doc.byline}}</strong>
					</a>
				</p>
				<span>•</span>
				<time class='intro__time'>{{doc.pubDate}}</time>
			</div>
		</div>
	</div>

	{{#each doc.introPost}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	{{#each doc.introPlaylist}}
		{{> story/playlist }}
	{{/each}}

	{{#each doc.postPlaylist}}
		<p class='prose'>{{{value}}}</p>
	{{/each}}

	<span class='disclaimer-title'>{{{doc.disclaimer}}}</span>
	<p class='disclaimer-body'>{{{doc.disclaimerBody}}}</p>
</div>
