<section class='shuffle' id='letters'>
  <div class='section__info'>
    <h2 class='section__info-title'>{{doc.lettersTitle}}</h2>
    <p class='section__info-dek'>{{doc.lettersDek}}</p>
    <div class='section__info-playlistDet'>
      <p class='playlist-songs'>{{doc.lettersSongs}}</p>
      <p class='sep'>•</p>
      <p class='playlist-time'>{{doc.lettersTime}}</p>
    </div>
    <a class='playlist-button'>{{doc.playlistButton}}</a>
  </div>

  <p class='prose'>{{{doc.lettersProse}}}</p>

  <figure class='section__figure section__figure-letters'>

  </figure>
</section>
