<section class='shuffle' id='repeat'>
  <div class='section__info'>
    <h2 class='section__info-title'>{{doc.repeatTitle}}</h2>
    <p class='section__info-dek'>{{doc.repeatDek}}</p>
    <div class='section__info-playlistDet'>
      <p class='playlist-songs'>{{doc.repeatSongs}}</p>
      <p class='sep'>•</p>
      <p class='playlist-time'>{{doc.repeatTime}}</p>
    </div>
    <a class='playlist-button'>{{doc.playlistButton}}</a>
  </div>

  <p class='prose'>{{{doc.repeatProse}}}</p>

  <figure class='section__figure section__figure-repeat'>

  </figure>
</section>
