<aside class='sidebar'>

  <div class='sidebar__content'>
    <div class='sidebar__drawer'>
      <button class='drawer__toggle' role='switch' aria-checked='false'>
        <img inline src='chevrons-right.svg'>
        <img inline src='x.svg'>
      </button>
    </div>
    <div class='sidebar__pudding'>
      <img inline src='pudding/wordmark.svg'>
    </div>

    <div class='sidebar__sections'>
      <h2 class='sidebar-title'>{{doc.sectionTitle}}</h2>
      {{#each doc.sections}}
        <div class='sidebar__section'>
          <h3 class='sidebar__section-title'>{{title}}</h3>
          <p class='sidebar__section-prose'>{{desc}}</p>
        </div>
      {{/each}}
    </div>

    <div class='sidebar__nonPeople'>
      <h2 class='sidebar-title'>{{doc.nonPeopleTitle}}</h2>
      {{#each doc.nonPeopleText}}
        <p class='sidebar-prose'>{{{value}}}</p>
      {{/each}}

      <div class='sidebar__nonPeople-button'>
        <p class='sidebar-prose'>{{doc.buttonQuery}}</p>
        <button class='filter' role="switch" aria-checked="false" aria-labelledby="sidebar-prose">
            <span class='button-label'>No</span>
            <span class='button-label'>Yes</span>
        </button>
      </div>
    </div>

  </div>
</aside>
