<section class='shuffle' id='timeless'>
  <div class='section__info'>
    <h2 class='section__info-title'>{{doc.timelessTitle}}</h2>
    <p class='section__info-dek'>{{doc.timelessDek}}</p>
    <div class='section__info-playlistDet'>
      <p class='playlist-songs'>{{doc.timelessSongs}}</p>
      <p class='sep'>•</p>
      <p class='playlist-time'>{{doc.timelessTime}}</p>
    </div>
    <a class='playlist-button'>{{doc.playlistButton}}</a>
  </div>

  <p class='prose'>{{{doc.timelessProse}}}</p>

  <figure class='section__figure section__figure-timeless'>
    <div class='section__figure-meta'>
      <h3 class='chart__title'>{{{doc.timelessChartTitle}}}</h3>
      <p class='chart__sub'>{{{doc.timelessChartSub}}}</p>
    </div>
    <div class='section__figure-chart'>
  </figure>
</section>
