<section class='shuffle' id='unique'>
  <div class='section__info'>
    <h2 class='section__info-title'>{{doc.uniqueTitle}}</h2>
    <p class='section__info-dek'>{{doc.uniqueDek}}</p>
    <div class='section__info-playlistDet'>
      <p class='playlist-songs'>{{doc.uniqueSongs}}</p>
      <p class='sep'>•</p>
      <p class='playlist-time'>{{doc.uniqueTime}}</p>
    </div>
    <a href={{doc.uniquePlaylist}} class='playlist-button'>{{doc.playlistButton}}</a>
  </div>

  <p class='prose'>{{{doc.uniqueProse}}}</p>

  <figure class='section__figure section__figure-unique'>
    <div class='chart__search'>
      <div class='text-container'>
        <div class='ui__search'>
          <input class='search__input' placeholder='Find a song...'>
          <ul class='search__result'></ul>
        </div>
        <p class='unique-artist'></p>
      </div>

    </div>
  </figure>

  <figure class='section__figure section__figure-uniqueArtist'>
    <div class='chart__search'>
      <div class='text-container'>
        <div class='ui__search'>
          <input class='search__input' placeholder='Find an artist...'>
          <ul class='search__result'></ul>
        </div>
        <p class='unique-meta'></p>
      </div>

    </div>
  </figure>
</section>
