<section class='shuffle' id='unique'>
  <div class='section__info'>
    <h2 class='section__info-title'>{{doc.uniqueTitle}}</h2>
    <p class='section__info-dek'>{{doc.uniqueDek}}</p>
    <div class='section__info-playlistDet'>
      <p class='playlist-songs'>{{doc.uniqueSongs}}</p>
      <p class='sep'>•</p>
      <p class='playlist-time'>{{doc.uniqueTime}}</p>
    </div>
    <a href={{doc.uniquePlaylist}} class='playlist-button'>{{doc.playlistButton}}</a>
  </div>

  <p class='prose'>{{{doc.uniqueProse}}}</p>

  <figure class='section__figure section__figure-unique'>
    <div class='section__figure-meta'>
      <h3 class='chart__title'>{{{doc.uniqueChartTitle}}}</h3>
      <p class='chart__sub'>{{{doc.uniqueChartSub}}}</p>
    </div>
    <div class='section__figure-chart'>
      <div class='chart__search'>
        <div class='text-container'>
          <div class='ui__search'>
            <input class='search__input' placeholder='Find a song...'>
            <ul class='search__result'></ul>
          </div>
          <p class='unique-artist'></p>
        </div>
      </div>
      <div class='section__figure-gradient'></div>
    </div>

  </figure>

  <p class='prose'>{{{doc.uniqueArtistProse}}}</p>

  <figure class='section__figure section__figure-uniqueArtist'>
    <div class='section__figure-meta'>
      <h3 class='chart__title'>{{{doc.uniqueArtistTitle}}}</h3>
      <p class='chart__sub'>{{{doc.uniqueArtistSub}}}</p>
      <div class='legend'>
        <p class='legend-text'>Names mentioned in
          <span class='legend-1'>1</span>
          <span class='legend-3'>3</span>
          <span class='legend-6'>6</span>
          <span class='legend-9'>9</span>
          <span class='legend-12'>12</span>
        songs</p>
      </div>
    </div>

    <div class='section__figure-chart'>
      <div class='chart__search'>
        <div class='text-container'>
          <div class='ui__search'>
            <input class='search__input' placeholder='Find an artist...'>
            <ul class='search__result'></ul>
          </div>
          <p class='unique-meta'></p>
        </div>

      </div>
    </div>
  </figure>
</section>
