<section class='shuffle' id='unique'>
  <div class='section__info'>
    <h2 class='section__info-title'>{{doc.uniqueTitle}}</h2>
    <p class='section__info-dek'>{{doc.uniqueDek}}</p>
    <div class='section__info-playlistDet'>
      <p class='playlist-songs'>{{doc.uniqueSongs}}</p>
      <p class='sep'>•</p>
      <p class='playlist-time'>{{doc.uniqueTime}}</p>
    </div>
    <a class='playlist-button'>{{doc.playlistButton}}</a>
  </div>

  <p class='prose'>{{{doc.uniqueProse}}}</p>

  <figure class='section__figure section__figure-unique'>

  </figure>
</section>
